 MUHAMMAD AHMAD
(SP25-BBD-106)

QUESTION NO 1

In [3]:

fibonacci = [0, 1]
for i in range(2, 10):
    next_element = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_element)

print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

QUESTION NO 2

In [6]:

primes = []
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)                                                                                                                                       
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

QUESTION NO 3

In [5]:

for i in range(5):
    age = int(input("Enter your age: "))
    if age < 3:
        print("No ticket required for children under 3 years.")
    elif age <= 12:
        print("The movie theatre ticket costs $10.")
    else:
        print("The movie theatre ticket costs $15.")

Enter your age:  3

The movie theatre ticket costs $10.

Enter your age:  31

The movie theatre ticket costs $15.

Enter your age:  2

No ticket required for children under 3 years.

Enter your age:  5

The movie theatre ticket costs $10.

Enter your age:  56

The movie theatre ticket costs $15.

PART (2)

In [10]:
#Ticket pricing - using active variable
active = True
while active:
    age = int(input("Enter your age: "))
    if age < 3:
        print("No ticket required for children under 3 years.")
    elif age <= 12:
        print("The movie theatre ticket costs $10.")
    else:
        print("The movie theatre ticket costs $15.")
    
    continue_prompt = input("Would you like to enter another age? Enter 'no' to quit: ")
    if continue_prompt.lower() == 'no':
        active = False

Enter your age:  56

The movie theatre ticket costs $15.

Would you like to enter another age? Enter 'no' to quit:  15
Enter your age:  5

The movie theatre ticket costs $10.

Would you like to enter another age? Enter 'no' to quit:  no

QUESTION NO 4

In [16]:
# Q4: Cities dictionary
cities = {
    'Lahore': {'country': 'Pakistan', 'landmark': 'Minar-e-Pakistan', 'university': 'CUI Lahore Campus'},
    'Karachi': {'country': 'Pakistan', 'landmark': 'Mazar-e-Quaid', 'university': 'Agha Khan University'},
    'Islamabad': {'country': 'Pakistan', 'landmark': 'Faisal Mosque', 'university': 'NUST'},
    'Peshawar': {'country': 'Pakistan', 'landmark': 'Bala Hisar Fort', 'university': 'University of Peshawar'},
    'Quetta': {'country': 'Pakistan', 'landmark': 'Hanna Lake', 'university': 'University of Balochistan'}
}

for city, info in cities.items():
    print(f"The city selected is {city}")
    print("Its information is given below")
    print(f"country: {info['country']}, landmark: {info['landmark']}, university: {info['university']}\n")

The city selected is Lahore
Its information is given below
country: Pakistan, landmark: Minar-e-Pakistan, university: CUI Lahore Campus

The city selected is Karachi
Its information is given below
country: Pakistan, landmark: Mazar-e-Quaid, university: Agha Khan University

The city selected is Islamabad
Its information is given below
country: Pakistan, landmark: Faisal Mosque, university: NUST

The city selected is Peshawar
Its information is given below
country: Pakistan, landmark: Bala Hisar Fort, university: University of Peshawar

The city selected is Quetta
Its information is given below
country: Pakistan, landmark: Hanna Lake, university: University of Balochistan

QUESTION NO 5

In [21]:
# Q5: Favorite numbers dictionary
persons = {
    'Ahmed': [23, 45, 76, 12, 230],
    'Ali': [5, 0, 26, 75, 13],
    'Sara': [34, 89, 12, 99, 100],
    'Zain': [9, 67, 45, 88, 91]
}

for name, numbers in persons.items():
    print(f"Person name:  {name}")
    print(f"Maximum value:  {max(numbers)}\n")

Person name:  Ahmed
Maximum value:  230

Person name:  Ali
Maximum value:  75

Person name:  Sara
Maximum value:  100

Person name:  Zain
Maximum value:  91